@use "../../../styles/variables";
@use "../../../styles/mixins";

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  margin-top: 24px;

  h2 {
    font-family: "Corinthia", cursive;
    font-size: 3rem;
    font-weight: 600;
    left: 0;
    z-index: 5;
    position: relative;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nothing {
  padding: 16px;
  background-color: #fff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 700px;
  border-radius: 8px;
  @include mixins.divider-top;
  @include mixins.divider-bottom;
  @include mixins.shadow;

  h2 {
    @include mixins.main-font;
    font-size: 3rem;
  }
}

.question {
  @include mixins.shadow;
}

@media (max-width: 830px) {
  .wrapper {
    width: 100%;
    gap: 0;
    .nothing {
      min-width: unset;
      width: 90vw;
      box-shadow: unset;
      border-radius: unset;
    }
    .question {
      width: 90vw;
      box-shadow: unset;
      border-radius: unset;
      @include mixins.divider-bottom;
      &:first-child {
        @include mixins.divider-top;
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .nothing {
      width: 100%;
    }

    .question {
      width: 100%;
    }
  }
}
