@use "../../../styles/variables";
@use "../../../styles/mixins";

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    font-family: "Corinthia", cursive;
    font-size: 3rem;
    font-weight: 600;
    left: 0;
    z-index: 5;
  }
}

.latest-questions {
  width: 50vw;
  min-width: 450px;
  padding: 24px;
  border-radius: 8px;
  @include mixins.shadow;
  background-image: variables.$gradient;
  height: 400px;
  overflow-y: scroll;
  position: relative;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0;

    h2 {
      margin-left: 50px;
    }
  }

  .latest-questions {
    width: 100vw;
    border-radius: unset;
    min-width: unset;
    box-shadow: none;
    border-top: 1px solid #363795;
    border-bottom: 2px solid #363795;
  }
}
