.main {
  display: grid;
  width: 700px;
  gap: 18px;
  padding: 12px;
  border-radius: 8px;
  margin-top: 32px;
  border: 2px solid #fff;
  color: #fff;
  user-select: none;

  .info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: solid 1px #fff;
    height: 2.4rem;
    justify-content: space-between;
  }
}

.topics {
  width: 100%;
  text-align: center;
}

.stats {
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}

.stat {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  stroke: #fff;
  svg {
    width: 26px;
    height: 26px;
    stroke-width: 1.5;
  }
}

.more {
  border-top: solid 1px #fff;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      text-decoration: underline 1px #fff;
    }
  }
  &:active {
    text-decoration: underline 1px #fff;
  }
}

.deletedAccount {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  font-size: 1.1rem;
}

.author {
  text-align: end;
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

    &:visited {
      color: #fff;
      text-decoration: none;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 830px) {
  .main {
    width: 90vw;
  }
}
