.main {
  display: grid;
  width: 700px;
  gap: 18px;
  padding: 12px;
  border-radius: 8px;
  margin: 24px 0 0 0;
  border: 2px solid #fff;
  color: #fff;
  user-select: none;

  .info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: solid 1px #fff;
    height: 2.4rem;
    justify-content: space-between;
  }

  @media (max-width: 730px) {
    & {
      width: 90vw;
    }
  }
}

.topics {
  width: 100%;
  text-align: center;
}

.stats {
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}

.stat {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  stroke: #fff;
  svg {
    width: 26px;
    height: 26px;
    stroke-width: 2;
  }
}

.more {
  border-top: solid 1px #fff;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      text-decoration: underline 1px #fff;
    }
  }
  &:active {
    text-decoration: underline 1px #fff;
  }
}

.author {
  text-align: end;
}
