@use "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  background-color: #fff;
  width: 100%;
  padding-left: 16px;
  position: relative;
  &::before {
    content: "";
    width: 16px;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    top: 0;
    left: 0;
    color: #e4e4e4;
    font-size: 16px;
    border-radius: 50%;
  }
}

.user {
  display: flex;
  gap: 8px;
  color: #8c8c8c;
  font-weight: 500;
  align-items: center;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .username-and-datetime {
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    flex-wrap: wrap;

    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      font-size: 1rem;
    }

    @media (hover: hover) {
      a:hover {
        text-decoration: underline 1px;
      }
      a:active {
        text-decoration: underline 1px;
      }
    }
  }
}

@media (hover: hover) {
  .username:hover {
    text-decoration: underline 1px;
  }
}
.username:active {
  text-decoration: underline 1px;
}

.username {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reply > label {
  cursor: pointer;
}

@media (hover: hover) {
  .icon > svg:hover {
    transform: scale(1.1);
  }

  .reply:hover {
    text-decoration: underline 1px;
    color: variables.$accent-color-1;
  }
}

.icon > svg:active {
  transform: scale(1.3);
}

.reply {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #8c8c8c;
  font-weight: 500;
}
.reply:active {
  text-decoration: underline 1px;
  color: variables.$accent-color-1;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  user-select: none;
  // [ ] NOTE: Make display grid so there is no gap between tracks

  .icon {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  svg {
    fill: transparent;
    transition: all 0.1s ease-out;
    cursor: pointer;
  }

  svg:not(.mention-icon) {
    stroke: variables.$accent-color-1;
    width: 26px;
    height: 26px;
    stroke-width: 1.5;
  }

  // [ ]TODO: add small screen styles for icons. Make them smaller
}

.mention-icon {
  stroke: #8c8c8c;

  stroke-width: 2;
  width: 16px;
  height: 16px;
  transform: translateY(-1px);
}

.replies,
.container {
  list-style-type: none;
}
