@use "../../styles/variables";
@use "../../styles/mixins";

.question-group {
  padding: 26px;
  border-radius: 8px;
  height: 480px;
  overflow-y: scroll;
  background-image: variables.$gradient;
  max-width: max-content;
  @include mixins.shadow;

  li {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .question-group {
    width: 95vw;
    height: 580px;
    min-width: unset;
  }
}
