@use "../../styles/variables";
@use "../../styles/mixins";

.question-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 26px;
  border-radius: 8px;
  height: fit-content;
  max-height: 600px;
  overflow-y: scroll;
  background-image: variables.$gradient;
  @include mixins.shadow;

  li {
    width: 100%;
  }
}
