@use "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  p {
    color: #8c8c8c;
  }
}
.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
  stroke-width: 1.5;
  stroke: variables.$accent-color-1;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

@media (hover: hover) {
  .wrapper > svg:hover {
    transform: scale(1.2);
  }
}
.wrapper > svg:active {
  transform: scale(1.4);
}
