@use "../../styles/mixins";
@use "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  list-style-type: none;
  @include mixins.shadow;
  width: 700px;
  height: fit-content;
}

.info {
  display: flex;
  gap: 8px;
  user-select: none;
  img,
  .avatarIllustration {
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #333;
}

.username-time-topic {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  gap: 2px;
}

.username-time {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 4px;
  height: fit-content;
  flex-direction: column;

  p,
  span {
    color: #8c8c8c;
  }
}

.username,
.deletedAccount {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  font-size: 1.1rem;
}

.username {
  cursor: pointer;
  text-decoration: none;
  @media (hover: hover) {
    &:hover {
      text-decoration: underline 1px;
    }
    &:active {
      text-decoration: underline 1px;
    }
  }
}

.dot-time {
  display: flex;
  gap: 12px;
}

.controls-wrapper {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 1fr;
  p {
    align-self: center;
    justify-self: start;
    font-size: 0.8rem;
    color: #8c8c8c;
    user-select: none;
  }

  a {
    text-decoration: none;
  }
  a,
  span {
    color: variables.$accent-color-1;
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    &:active {
      text-decoration: underline;
    }
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / -1;
  width: fit-content;
  align-items: center;
  gap: 12px;
  align-self: center;
  justify-self: end;
  p {
    font-size: 1rem;
  }
}

.liked {
  svg {
    fill: variables.$accent-color-1;
  }
}

@media (max-width: 830px) {
  .container {
    width: 90vw;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .username-time {
    flex-direction: row;
    gap: 12px;
  }
}
