@use "../../styles/mixins";
@use "../../styles/variables";

.question-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
  list-style-type: none;
  border-radius: 8px;
  max-width: 700px;
  background-color: #fff;
  @include mixins.shadow;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;

  .username {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
  }
  .question-date {
    color: #888;
  }
}

.stats {
  display: flex;
  justify-content: flex-end;
  color: #888;
  gap: 12px;

  .stats-group {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.answer-icon {
  fill: none;
  stroke-width: 1.5;
  stroke: variables.$accent-color;
  width: 28px;
  height: 28px;
  cursor: pointer;
  &:hover {
    fill: variables.$latest-question-icon-item-hover-color;
  }
}

.like-icon {
  fill: none;
  stroke-width: 1.5;
  stroke: variables.$accent-color;
  width: 28px;
  height: 28px;
  cursor: pointer;
  &:hover {
    fill: variables.$latest-question-icon-item-hover-color;
  }
}

.question-text {
}
