@use "../../styles/mixins";
@use "../../styles/variables";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  gap: 24px;

  .feedInfo {
    background-image: variables.$gradient;
    border: unset;
    margin: 0;
    align-self: start;
    width: 50vw;
    max-width: 700px;
    @include mixins.shadow;
  }
}

.sub {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
.user-information {
  display: flex;
  justify-content: center;
  gap: 46px;
  justify-self: center;
}

.picture {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.user-information,
.btns {
  border-radius: 8px;
  @include mixins.shadow;
}

.user-information {
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  width: 350px;
  background-image: variables.$gradient;
  color: #fff;
  height: fit-content;
  max-width: 700px;
}
.picture {
  align-items: center;

  .user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;

    img {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.avatar {
  width: 95%;
  height: 95%;
}

.user-information,
.btns {
  padding: 12px;
}

.member {
  align-self: flex-start;
}

.btns {
  display: flex;
  width: fit-content;
  align-self: center;
  justify-content: center;
  gap: 18px;
  background: variables.$gradient;
  align-self: center;
  justify-self: center;
  .deleteAccount {
    background-color: #f33b50;
  }

  button {
    font-size: 0.9rem;
  }
}

.h2 {
  font-family: "Corinthia", cursive;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 8px;
}

.question-icon,
.answer-icon {
  width: 28px;
  height: 28px;
  stroke-width: 1.5;
  fill: none;
}

.user-stats {
  display: flex;
  gap: 18px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

.profile-questions {
  width: fit-content;
  height: 100%;
}

.q,
.a {
  align-self: start;
}

@media (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    .user-information {
      width: 90vw;
    }

    .feedInfo {
      width: 90vw;
    }

    .btns {
      width: 90vw;
    }
  }

  .profile-questions {
    width: 90vw;
  }
}

.userQuestions,
.userAnswers {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 8px;
  background-image: variables.$gradient;
  padding: 12px;
  color: #fff;
  max-height: 800px;
  width: 50vw;
  max-width: 700px;
  overflow-y: auto;
  @include mixins.shadow;
}

.info {
  display: flex;
  align-items: center;
  height: 2.4rem;
  justify-content: space-between;
  border-bottom: solid 1px #fff;

  h3 {
    @include mixins.main-font;
    font-size: 3rem;
    font-weight: 500;
  }
}

.stats {
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}

.stat {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  svg {
    width: 26px;
    height: 26px;
    fill: none;
    stroke-width: 2;
  }
}

.questionItemOverride {
  width: 100%;
}

.nothing {
  text-align: center;
  margin: 16px;

  h2 {
    margin-bottom: 2px;
    font-size: 3rem;
    font-weight: 500;
    @include mixins.main-font;
  }
}
