@use "../../styles/mixins";
@use "../../styles/variables";

.container {
  display: grid;
  grid-template-columns: (350px + 42px + 42px) auto;
  grid-template-rows: auto auto;
  justify-content: center;
  margin: 0 auto;
  min-height: calc(100vh - 150px - 150px);
  margin-top: 150px;
  margin-bottom: 150px;
  align-items: center;
  justify-content: center;
  row-gap: 64px;
}

.user-information {
  display: flex;
  justify-content: center;
  gap: 46px;
  justify-self: center;
  align-self: start;
}

.a {
  grid-column: 2 / -1;
}

.picture {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.user-information,
.btns {
  border-radius: 8px;
  @include mixins.shadow;
}

.user-information {
  grid-row: 1/-1;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  width: 350px;
  background-image: variables.$gradient;
  color: #fff;
  height: fit-content;
  max-width: 700px;
}
.picture {
  align-items: center;

  .user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;

    img {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
.avatar {
  width: 95%;
  height: 95%;
}

.user-information,
.btns {
  padding: 26px;
}

.member {
  align-self: flex-start;
}

.btns {
  grid-column: 2;
  display: flex;
  width: fit-content;
  align-self: center;
  justify-content: center;
  gap: 18px;
  background: variables.$gradient;
  align-self: center;
  justify-self: center;
  .delete-account {
    background-color: #f33b50;
  }

  button {
    font-size: 0.9rem;
  }
}

.h2 {
  font-family: "Corinthia", cursive;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 8px;
}

.question-icon,
.answer-icon {
  width: 28px;
  height: 28px;
  stroke-width: 1.5;
  fill: none;
}

.user-stats {
  display: flex;
  gap: 18px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}

.profile-questions {
  width: fit-content;
  height: 100%;
}

.q,
.a {
  align-self: start;
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 64px;

    .user-information {
      grid-row: 1;
      grid-column: 1;
      width: 90vw;
    }

    .q {
      grid-row: 2;
      grid-column: 1;
    }
    .a {
      grid-row: 3;
      grid-column: 1;
    }

    .btns {
      grid-row: 4;
      grid-column: 1;
      width: 100%;
    }
  }

  .profile-questions {
    width: 90vw;
  }
}
