.topic {
  display: inline-block;
  transition: all 0.1s ease-out;
  position: relative;
  height: fit-content;
  width: fit-content;
  border: 1px #fff solid;
  outline: 0px #fff solid;
  text-align: center;
}
@media (hover: hover) {
  .topic:hover {
    transform: scale(1.1);
    outline: 1px #fff solid;
  }

  .topic:active {
    transform: scale(1.1);
    outline: 1px #fff solid;
  }
}

.unfollow {
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  margin: inherit;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #333;
}

.topic,
.unfollow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  font-size: inherit;
  padding: 8px;
  min-width: 6rem;
}

@media (max-width: 500px) {
  .topic {
    font-size: 12px;
    min-width: 60px;
  }
}
