@use "../../styles/variables";
@use "../../styles/mixins";

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 65px);
  position: relative;
  margin-top: 26px;
  background-image: variables.$gradient;

  .questions {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 150px;
  }
}
.feed,
.questions {
  gap: 26px;
}

.spinner {
  position: absolute;
  top: calc(50% - (48px / 2));
  left: calc(50% - (48px / 2));
}

.nothing {
  display: grid;
  width: 700px;
  gap: 18px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #fff;
  margin-top: 26px;
  color: #fff;
  user-select: none;

  p {
    justify-self: center;
  }
}

.title {
  display: flex;
  align-items: center;
  height: 2.4rem;
  justify-content: space-between;
  border-bottom: solid 1px #fff;
  h3 {
    @include mixins.main-font;
    font-size: 3rem;
    font-weight: 500;
  }
}
