@use "../../styles/variables";
@use "../../styles/mixins";

.initialSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88px;
}

.main {
  display: grid;
  width: 700px;
  gap: 18px;
  padding: 12px;
  border-radius: 8px;
  margin-top: 26px;
  border: 2px solid #fff;
  color: #fff;
  user-select: none;
}
.info {
  display: flex;
  align-items: center;
  height: 2.4rem;
  justify-content: space-between;
  border-bottom: solid 1px #fff;

  h3 {
    @include mixins.main-font;
    font-size: 3rem;
    font-weight: 500;
  }
}

.topics {
  width: 100%;
  text-align: center;
}

.topic-wrapper {
  margin: 6px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.stats {
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}

.stat {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 4px;
  svg {
    width: 26px;
    height: 26px;
    stroke-width: 2;
  }
}

.topicsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  @include mixins.shadow;
}

.more {
  border-top: solid 1px variables.$accent-color-1;
  text-align: center;
  padding-top: 12px;
  color: variables.$accent-color-1;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      text-decoration: underline 1px variables.$accent-color-1;
    }
  }
  &:active {
    text-decoration: underline 1px variables.$accent-color-1;
  }
}

.nothing {
  margin: 16px;
  h2 {
    margin-bottom: 2px;
    font-size: 3rem;
    font-weight: 500;
    @include mixins.main-font;
  }
}

@media (max-width: 830px) {
  .main {
    width: 90vw;
  }
}
