@use "../../styles/mixins";
@use "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: variables.$gradient;
  width: 100%;
  font: inherit;
  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 700px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    @include mixins.shadow;

    h2 {
      @include mixins.main-font;
      font-size: 3rem;
      text-align: center;
      margin-top: -8px;
      margin-bottom: -8px;
    }
  }
}

.controls {
  display: flex;
  gap: 12px;
  justify-content: center;
  button {
    border-color: variables.$accent-color-1;
    color: variables.$accent-color-1;
  }
}
@media (hover: hover) {
  .controls > button:hover {
    outline-color: variables.$accent-color-1;
  }
}
.controls button > :active {
  outline-color: variables.$accent-color-1;
}
.topic {
  z-index: 2;
  input {
    font-size: 1rem;
    padding: 0;
    border-radius: 0;
  }
}

.topic-finder {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.field {
  transition: all 0.2s ease-in;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 600px) {
  .container {
    background-image: unset;

    form {
      margin: 0;
      border-radius: 0;
      height: 100%;
      width: 100%;
      box-shadow: unset;
    }
  }
}
