@use "../../styles/variables";
@use "../../styles/mixins";

.home {
  display: flex;
  flex-direction: column;
}
.section1 {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin: auto;
  margin-bottom: 44px;
  align-items: center;
  width: 90%;
  margin-top: 260px;
}

.section2 {
  margin-bottom: 150px;
  @include mixins.divider-top;
}
.illustration {
  max-width: 600px;
  width: 100%;
  height: auto;
  z-index: 0;
  transform: translate(-8px, -100px);
}

@media (max-width: 800px) {
  .section1 {
    flex-direction: column-reverse;
    justify-content: left;
    margin-top: 150px;
  }

  .illustration {
    transform: translateX(-8px);
  }
}

@media (max-width: 600px) {
  .section2 {
    border: unset;
  }
}
