@use "../../../styles/variables";
.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px variables.$input-border-bottom-color;
    color: variables.$input-text-color;
    font-size: 1.1rem;
    outline: none;
    width: 100%;
    position: relative;

    &::placeholder {
      color: variables.$input-placeholder-color;
    }
  }
  .input-with-icon {
    padding: 5px 5px 5px 37px;
  }

  .input-without-icon {
    padding: 5px;
  }
}

.form-svg {
  position: absolute;
  fill: none;
  stroke-width: 1.5;
  stroke: currentColor;
  width: 24px;
  height: 24px;
}
