@use "../../../styles/variables";

.link {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  p {
    display: block;
    position: inherit;
    z-index: 5;
  }

  .overlay {
    background-clip: text;
    background: variables.$gradient;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      p {
        color: #fff;
      }
    }
  }
}
