@use "../../../styles/variables";
@use "../../../styles/mixins";

.button,
.link {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: variables.$gradient;
  color: variables.$primary-button-text-color;

  padding: 9px 18px;
  transition: all 0.1s ease-out;

  color: variables.$primary-button-text-color;
  // box-shadow: none;

  // If hovering and pointer. Solves sticky hover problem in touch devices.
  @media (hover: hover) {
    &:hover {
      transform: scale(1.04);
      @include mixins.shadow;
    }
  }
  &:active {
    transform: scale(1.04);
    @include mixins.shadow;
  }
}
