@use "../../../styles/variables";

.button,
.link {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  width: fit-content;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  outline: 0 #fff solid;
}

.link {
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
  }
}

.button,
.link {
  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
      outline: 1px #fff solid;
    }
  }
  &:active {
    transform: scale(1.1);
    outline: 1px #fff solid;
  }
}
