@use "../../../styles/variables";

.button,
.link {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  width: fit-content;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border: 2px variables.$secondary-button-border-color solid;
  background-color: transparent;
  color: variables.$secondary-button-text-color;
  border-radius: 5px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
  }
}

.button,
.link {
  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
  &:active {
    transform: scale(1.1);
  }
}
