@use "../../../styles/variables";

.button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  width: fit-content;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border: 2px variables.$secondary-button-border-color solid;
  background-color: transparent;
  color: variables.$secondary-button-text-color;
  border-radius: 5px;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
  &:active {
    transform: scale(1.1);
  }
}
