@use "../../../styles/variables";

.button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  width: fit-content;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border: 2px #fff solid;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;

  &:hover {
    transform: scale(1.1);
  }
}
