@use "../../../styles/mixins";
@use "../../../styles/variables";

.introduction {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 3rem;
  gap: 44px;

  .text {
    display: flex;
    flex-direction: column;
    width: 26rem;

    gap: 22px;
  }

  h2 {
    font-family: "Corinthia", cursive;
    font-weight: 600;
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .button {
    color: variables.$primary-button-text-color-in-introduction;
    box-shadow: none;

    &::before {
      opacity: 1;
    }
    &:hover {
      transform: scale(1.05);
      @include mixins.shadow;
    }
  }
}

@media (max-width: 800px) {
  .introduction {
    @include mixins.shadow;
    padding: 24px;
    background-color: variables.$introduction-background-responsive-color;
    transform: translateY(20px);
    border-radius: 8px;
  }
}
