@use "../../../styles/mixins";
@use "../../../styles/variables";

.introduction {
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
  gap: 18px;
  padding: 24px;
  border-radius: 8px;
  max-width: 550px;
  @include mixins.shadow;

  h2 {
    @include mixins.corinthia-regular;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .introduction {
    width: 90vw;
    max-width: unset;
  }
}
