@use "../../styles/mixins";
@use "../../styles/variables";
.results {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  border-radius: 8px;
  font-size: 1.2rem;
  list-style-type: none;
  @include mixins.shadow;
  top: 130%;
  max-height: 380px;
  overflow-y: auto;

  li:not(.no-questions) {
    justify-content: space-between;
  }

  li {
    padding: 16px;
    width: 100%;
    border-bottom: 1px solid #eee;
    display: flex;
    cursor: pointer;

    h3 {
      color: #444;
    }

    a {
      text-decoration: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #eee;
        h3 {
          text-decoration: underline solid 1px #444;
        }
      }
    }
    &:active {
      background-color: #eee;
      h3 {
        text-decoration: underline solid 1px #333;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  span {
    color: variables.$accent-color-1;
    font-weight: 400;
    opacity: 0.6;
  }

  span,
  h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
    color: #8c8c8c;
    font-weight: 400;
  }
}

.total-questions-wrapper {
  display: flex;
  align-items: flex-start;
  color: variables.$accent-color-1;

  .total-questions {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    border-radius: 8px;
    border: solid 1px #cdcdcd;
    color: variables.$accent-color-1-transparent;
    font-size: 1rem;
  }

  svg {
    stroke: variables.$accent-color-1-transparent;
    height: 22px;
    width: 22px;
    stroke-width: 1.5;
  }
}

.new-topic {
  display: flex;
  align-items: center;
  height: fit-content;
}

.no-questions {
  text-align: center;
  justify-content: space-around;
  a {
    white-space: unset;
  }
}
