@use "../../../../styles/variables";
@use "../../../../styles/mixins";

.container {
  background-color: #fff;
  text-align: end;
  padding: 16px 2px;
  @include mixins.divider-top;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  button {
    // overrides
    color: variables.$accent-color-1;
    border: 1px solid variables.$accent-color-1;
    @media (hover: hover) {
      &:hover {
        outline: 1px variables.$accent-color-1 solid;
      }
    }
    &:active {
      outline: 1px variables.$accent-color-1 solid;
    }
  }
}

.spinner {
  padding-right: 12px;
}
.textarea {
  width: 100%;
  padding: 8px;
  font: inherit;
  resize: none;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: 1px solid #aaa;
  border: none;
  &:focus {
    outline: solid 2px variables.$accent-color-1;
    border: none;
  }
}
