@use "../../../styles/variables";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin: 150px auto 150px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 78px 58px;
  background-image: variables.$gradient;
  color: #fff;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

@media (max-width: 500px) {
  .form-container {
    width: 100vw;
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    bottom: 0;
  }
}
