@use "../../../../../styles/mixins";
@use "../../../../../styles/variables";

.user-navBar-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #c4c4c4;
  transition: all 0.05s ease 0.31s;
  img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: 0px solid variables.$accent-color;

    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25) 0.15s;
  }

  .avatar {
    width: 95%;
    height: 95%;
  }
}

.grow {
  border: none;
  background-color: transparent;
  transition-delay: 0s;
  img {
    transform: translate(-240%, 80%) scale(2);
    outline: 6px solid variables.$accent-color;
    transition-delay: 0s;
  }
}
.menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25) 0.15s;

  overflow: hidden;
  box-shadow: none;
  white-space: nowrap;

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: max-content;
    gap: 12px;
    margin-top: 80px;
    margin-right: 24px;
    transform: translateY(-120%);
    transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25) 0s;
    opacity: 0;
  }
  a {
    text-decoration: none;
  }

  button {
    background-color: transparent;
    border: none;
  }

  p {
    padding: 4px;
    color: #fff;
    font-size: 1rem;
  }

  a,
  button {
    cursor: pointer;
    &:hover {
      text-decoration: underline 1px #fff;
    }
  }
}
.menu::before {
  content: "";
  position: absolute;
  box-shadow: none;
  border-radius: 50%;
  height: 56px;
  width: 56px;

  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25) 0.15s;
  background-color: variables.$accent-color;
  z-index: -1;
}

.menu:hover {
  width: 300px;
  height: 300px;
  transition-delay: 0s;
  .controls {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
  }
  &::before {
    width: 300px;
    height: 300px;
    opacity: 1;
    transition-delay: 0s;
    @include mixins.shadow;
  }
}
