@use "../../../../../styles/mixins";

.user-navBar-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #c4c4c4;
  transition: all 0.05s ease 0.16s;
  img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  }

  .avatar {
    width: 95%;
    height: 95%;
  }
}

.grow {
  border: none;
  background-color: transparent;
  transition: none;
  img {
    height: 140%;
    width: 140%;
    transform: translate(-55%, 12px);
  }
}
.menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.shadow;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);

  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
  white-space: nowrap;

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: max-content;
    gap: 12px;
    margin-right: 82px;
    margin-top: 200px;
  }
  a {
    text-decoration: none;
  }

  button {
    background-color: transparent;
    border: none;
  }

  p {
    padding: 4px;
    color: #fff;
    font-size: 1rem;
  }

  a,
  button {
    cursor: pointer;
    &:hover {
      text-decoration: underline 1px #fff;
    }
  }
}
.menu::before {
  content: "";
  position: absolute;
  box-shadow: none;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  transition: all 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  background-color: #363795;
  z-index: -1;
}

.menu:hover {
  & {
    width: 350px;
    height: 350px;
    @include mixins.shadow;
  }
  &::before {
    width: 350px;
    height: 350px;
    opacity: 1;
    @include mixins.shadow;
  }
}
