@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@mixin main-font {
  font-family: "Corinthia", cursive;
}

@mixin divider-top {
  border-top: solid 1px #e4e4e4;
}

@mixin divider-bottom {
  border-bottom: solid 1px #e4e4e4;
}

@mixin divider-left {
  border-bottom: solid 1px #e4e4e4;
}
