$root-text-color: #333;

$nav-bar-color: #fff;
$nav-bar-small-screen-color: rgba(255, 255, 255, 0.7);

$primary-button-text-color: #fff;
$primary-button-hover-text-color: rgba(255, 255, 255, 0.9);

$primary-button-text-color-in-introduction: rgba(255, 255, 255, 0.9);

$secondary-button-border-color: #fff;
$secondary-button-text-color: #fff;

$input-border-bottom-color: #fff;
$input-text-color: #fff;
$input-placeholder-color: rgba(255, 255, 255, 0.8);

$latest-questions-text-color: #fff;
$latest-questions-bubble-color: rgba(255, 255, 255, 0.8);

$introduction-background-responsive-color: rgba(255, 255, 255, 0.9);
//
$gradient: linear-gradient(
  270deg,
  rgba(54, 55, 149, 1) 0%,
  rgba(0, 92, 151, 1) 100%
);

$accent-color: #363795;

$latest-question-icon-item-hover-color: #cccdff;
