// Dark mode

// Light mode
$nav-bar-text-color: #444;
$button-text-color: #444;
$button-hover-text-color: rgba(255, 255, 255, 0.9);

//
$gradient: linear-gradient(
  -45deg,
  rgba(106, 0, 244, 1) 12%,
  rgba(209, 0, 209, 1) 56%
);
