@use "./variables";

@font-face {
  font-family: "corinthia-bold";
  src: url("../fonts/Corinthia-Bold.ttf");
}
@font-face {
  font-family: "corinthia-regular";
  src: url("../fonts/Corinthia-Regular.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light-italic";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "roboto-medium-italic";
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-bold-italic";
  src: url("../fonts/Roboto-BoldItalic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "roboto-light", sans-serif;
  color: variables.$root-text-color;
}

header {
  user-select: none;
}

button,
a,
div {
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  white-space: nowrap;
}
