@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  color: variables.$root-text-color;
}

header {
  user-select: none;
}

button,
a,
div {
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  white-space: nowrap;
}
