@use "../../../../styles/variables";
@use "../../../../styles/mixins";
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 25px;
  width: 100%;
  z-index: 500;
  background-color: variables.$nav-bar-small-screen-color;
  height: 65px;
  user-select: none;
  top: 0;
  backdrop-filter: blur(5px);
  position: relative;
  @include mixins.shadow;
  contain: layout;
  h2 {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-size: 3rem;
    cursor: pointer;
    margin-left: 38px;
  }
}
.fixed {
  position: fixed;
}

.not-fixed {
  box-shadow: none;
}

@media (max-width: 500px) {
  .nav-bar {
    h2 {
      font-size: 2.2rem;
      margin-left: 18px;
      z-index: -1;
    }

    a {
      font-size: 1rem;
    }
  }
}
