@use "../../../../styles/variables";
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 38px;
  color: variables.$nav-bar-text-color;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100vw;
  z-index: 500;
  background-color: #fff;
  height: 65px;
}

@media (max-width: 500px) {
  .nav-bar {
    position: fixed;
    top: 0;
  }
}
