@use "../../../../styles/variables";

.login-controls {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  .secondary {
    border-color: variables.$accent-color-1;
    color: variables.$accent-color-1;
  }
}
