@use "../../../../styles/variables";
@use "../../../../styles/mixins";

.login-controls {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.sign-up {
  text-decoration: none;
  color: variables.$accent-color-1;
  font-size: 1.2rem;
  border: solid 1px variables.$accent-color-1;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.1s ease-out;

  &:link,
  &:active {
    color: variables.$accent-color-1;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.04);
      @include mixins.shadow;
    }
  }
  &:active {
    transform: scale(1.04);
    @include mixins.shadow;
  }
}
