@use "../../styles/variables";
@use "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  min-height: calc(100vh - 65px);
  padding: 150px 0;
  background-image: variables.$gradient;
}

.question-item-override {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: unset;
}

.border {
  border-radius: 8px;
  @include mixins.shadow;
}

.nothing {
  padding: 16px;
  background-color: #fff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  @include mixins.divider-top;

  h2 {
    @include mixins.corinthia-regular;
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .container {
    background-image: unset;
    box-shadow: unset;
    padding-top: 86px;
  }

  .border {
    box-shadow: unset;
  }
  .question-item-override,
  .border {
    border-radius: 0;
  }

  .question-item-override {
    padding-left: 0;
    padding-right: 0;
  }
}
